<%= include ./partials/head.ejs %>

  <form action="/messages" method="post" id="chat-input-form">
    <input type="text" name="body" id="chat-input">
    <input type="submit">
  </form>

<ul id="chat-output">
<% messages.forEach(function(message){ %>
  <li><%= message.body %>--*--<%= message.aaron %></li>
<% }); %>
</ul>

<%= include ./partials/foot.ejs %>
