<%= include ./partials/head.ejs %>
  <div id="chat-input">
    <form action="">
      <label for="chat-input-field">Chat:</lable>
      <input
        type="text"
        id="chat-input-field">
      <input type="button" id="submit-chat" value="Say it loud!">
    </form>
  </div>
  <div id="chat-output"></div>

  <form action="/messages" method="post">
    <input type="text" name="body">
    <input type="submit">
  </form>

<ul>
<% messages.forEach(function(message){ %>
  <li><%= message.body %></li>
<% }); %>
</ul>
<%= include ./partials/foot.ejs %>
