<%= include ./partials/head.ejs %>
<div id="form-container">
  <form action="/messages" method="post" id="chat-input-form">
    <input type="submit" value="Hey!">
    <span><input type="text" name="body" id="chat-input"></span>
  </form>
</div>
<div id="chat-container">
  <div id="chat-output">
  <% messages.forEach(function(message){ %>
    <p class="<%= message.aaron ? "from-aaron" : "from-user" %>"><%= message.body %></p>
  <% }); %>
  </div>
</div>

<%= include ./partials/foot.ejs %>
