html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
}

#form-container {
  background-color: firebrick;
  height: 50px;
}
span {
  display: block;
  overflow: hidden;
}
input[type=text] {
  border:none;
  height: 50px;
  background-color: firebrick;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
}
input[type=submit] {
  background-color: red;
  border: none;
  height: 50px;
  width: 100px;
  float:right;
  margin: 0;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 36px;
  font-weight: bold;
}
p {
  padding-left: 15px;
  border-bottom: solid 1px gray;
  width: 100%;
}

.from-user {
  background-color: white;
  margin: 3px 0px;
}

.from-aaron {
  background-color: lime;
  margin: 3px 0px;
}
